/*CSS RESET*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
}

nav{
	position: sticky;
	top: 0;
	margin-bottom: 0.5rem;
	background-color: white;
	z-index: 9;
}

/*.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}*/

.nav-logo, .right-nav{
	display: inline;
	vertical-align: text-bottom;
	position: sticky;
}

#logo{
	display: inline;
	margin: 1rem;
	padding-left: 10%;
	padding-right: 30%;
}

.nav{
	display: inline;
	list-style-type: none;
	font-size: 15px;
	font-weight: bold;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.tuitt-button{
	font-size: 1rem;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 50px;
	color: white;
	padding: 0.75rem;
	border-style: none;
}

#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	background-attachment: scroll;
}

.front-bg{
	background-color: rgba(0, 0, 0, .5);
}

.container{
	min-height: 50vh;
	position: relative;
	margin-bottom: 2rem;
}

.title{
	font-family: Zilla slab; serif;
	padding-left: 50%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 1rem;
	text-align: right;
	font-size: 50px;
	font-weight: bolder;
	color: white;
	position: relative;
}

.subtitle{
	padding-left: 60%;
	padding-right: 10%;
	padding-bottom: 2rem;
	text-align: right;
	font-size: 18px;
	color: white;
	position: relative;
}

.apply-button{
	font-size: 1rem;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 50px;
	color: white;
	padding: 1rem 3% 1rem;
	border-style: none;
	float: right;
	margin-right: 10%;
}

.title-2{	
	font-family: Zilla slab; serif;
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
	margin-top: 3rem;
	margin-bottom: 2rem;	
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 3rem;
}

.intro-description{
	text-align: justify;
	font-size: 20px;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 3rem;	
}


.book-button{
	font-size: 1rem;
	font-weight: bold;
	background-color: #336589;
	border-radius: 70px;
	color: white;
	padding: 1rem 3% 1rem;
	border-style: none;
	display: block;
	margin top: 1rem;
	margin-right: 35%;
	margin-left: 42%;
}

.pre-footer{
	background-color: #f7fbfb;
	height: 50vh;
}

.prefooter-description{
	text-align: center;
	font-size: 20px;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 2rem;
	padding-bottom: 1rem;
}

footer{
	text-align: center;
	font-size: 17px;
	padding:  0.5rem;
}